# Flask et extensions web
Flask==2.3.3
gunicorn==21.2.0
python-dotenv==1.0.0

# Google Cloud services
google-cloud-bigquery==3.11.4
google-cloud-texttospeech==2.14.1
google-cloud-storage==2.13.0

# Requêtes HTTP
requests==2.31.0

# Utilitaires
datetime==5.2
typing==3.7.4.3
